/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu,header{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
li{list-style:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;color:#0C0C0C}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{font-size:16px;color:#222222;font-family:"宋体",Roboto,HelveticaNeue,Helvetica,Arial,sans-serif;background:#F8F8F8;line-height:.4rem;}
a,a:hover{color:#222222;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display:table;clear:both}

input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;}

#box{width:100%;max-width:750px;margin:0 auto;font-size:.28rem;font-family:"宋体"}
.w96{width:97%}
.w30{width:25%}.w50{width:45%}.w15{width:20%;text-align:right;}
.huise{color:#8E8E8E}.chengse{color:#F15A0C}.hongse{color:red;}
.fl{float:left;}
.fr{float:right;}

.top{width:100%;height:.8rem;line-height: .8rem;font-size: .28rem;color: #939191;background-color: #000;}
.top #ln{height:.8rem;line-height:.8rem;float:left;margin:0 0 0 .2rem;}
.top #ln img{width:.6rem;border-radius:.3rem;vertical-align:middle;margin:0 .1rem 0 0}
.top #jg{float:right;margin:0 .2rem 0 0;}
.top #jg span{margin:0 .15rem;}
.top #jg img{width:.3rem;vertical-align:middle;}
.top a,a:hover{color:#939191}

header{width:100%;height:2.2rem;background:url(..http://shop.res.wikicaring.com/app/WikiAppDistribution/images/homtbg.jpg) center center no-repeat;background-size:cover;}
header #icon{position:relative;left:.2rem;top:1.5rem;}	
header #icon img{float:left;width:1.5rem;border-radius:.1rem;border:1px solid #CCC;}
header #icon span{float:left;margin:.1rem 0 1rem .2rem;color:#fff;font-size:.3rem;font-weight:bold;text-shadow: 0 1px 1px #000;}

header ul{margin:.8rem 0 0 1.8rem;padding:0}
header ul li{float:left;width:33%;list-style:none;border-right:1px solid #E4E4E4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:.15rem}
header li:last-child{border-right:0 none}
header li a{display:block;}
header span{display:block;text-align:center;}
header .count{height:.3rem;line-height:.3rem;font-size:.3rem;color:#333;overflow:hidden;}
header .user{height:.3rem;background:url(..http://shop.res.wikicaring.com/app/WikiAppDistribution/images/user.png) no-repeat center center;background-size:contain} 

.slider{display:none;}
.focus span{width:5px;height:5px;margin-right:5px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}

.tc{}  
.tc .taocan{width:95%;padding:10px 0;margin:10px auto;border:1px solid #E5E5E5;background:#fff;}
.tc .taocan img{margin-top:5px;}  
.tc .taocan .thh{width:95%;padding:0 8px;border-bottom:1px solid #CCC;text-align:left;font-size:.28rem;}
.tc .taocan .fright{width:61%;float:right;margin-right:1%;} 
.tc .taocan .fright b{color:#F00;font-size:120%;} 
.tc .taocan .fright .small{color:#F00;font-size:60%;} 
.tc .taocan .fright .yuan{font-size:80%;text-decoration:line-through;padding-right:0.5em;}
.tc .taocan .fright .yuan1{font-size:80%;padding-right:0.5em;}
.tc .taocan .fleft{float:left;width:36%;padding-left:3px;}
.tc taocan .zii{float:right;}
.tel{display:block;float:right;height:.3rem;margin:.5rem .2rem 0 0;font-size:.28rem;line-height:.3rem;padding:.05rem 0.1rem;border-radius:2px;background:#ee8407;text-decoration:none;color:#FFF;}
.taocan a{color:#000;}
.taocan a:hover{color:#000;}

.didaohang{width:100%;margin:20px auto;text-align:center;border-bottom:1px solid #E5E5E5;font-size:.15rem;background:#F8F8F8}
.didaohang span{padding:15px;}

.blog{margin:10px auto;text-align:center;}
.blog img{width:1rem}

#search{width:100%;height:1rem;line-height:1rem;background:#D6D6D6;text-align:center}
input[type=text]{width:70%;height:.6rem;font-size:.28rem;min-height:.5rem;margin:0;padding:.1rem;outline:none;color:#333;background-color:#fff;background-repeat:no-repeat;background-position:right center;border:1px solid #ccc;border-radius:3px;box-shadow:inset 0 1px 2px rgba(0,0,0,0.075);-moz-box-sizing:border-box;box-sizing:border-box;transition:all 0.15s ease-in;-webkit-transition:all 0.15s ease-in 0;vertical-align:middle;}
.button{height:.6rem;position:relative;display:inline-block;margin:0;padding:.1rem .2rem;font-size:.28rem;font-weight:bold;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.9);white-space:nowrap;background-color:#eaeaea;background-image:-moz-linear-gradient(#fafafa,#eaeaea);background-image:-webkit-linear-gradient(#fafafa,#eaeaea);background-image:linear-gradient(#fafafa,#eaeaea);background-repeat:repeat-x;border-radius:3px;border:1px solid #ddd;border-bottom-color:#c5c5c5;box-shadow:0 1px 3px rgba(0,0,0,.05);vertical-align:middle;cursor:pointer;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-appearance:none;}
.button:focus,input[type=text]:focus{outline:none;border-color:#51a7e8;box-shadow:inset 0 1px 2px rgba(0,0,0,.075),0 0 5px rgba(81,167,232,.5);}

.pop{position:absolute;left:1%;top:.8rem;width:90%;height:auto;border:1px solid #ccc;z-index:9999}
.pop_head{position:relative;}
.pop_head a.close{width:47px;height:46px;background:url(..http://shop.res.wikicaring.com/app/WikiAppDistribution/images/close.png);position:absolute;right:-23px;line-height:20px;color:#000;text-decoration:none;top:-23px;}
.pop_body{padding:1rem 3%;background:#fff;width:auto;height:94%;overflow:hidden;line-height:.6rem;}

.cart-nav{width:100%;height:.8rem;background:#f2f2f0;border-bottom:1px solid #E6E6E6}
.cart-nav li{float:left;width:50%;height:100%;text-align:center;line-height:.8rem;color:#91918f;}
.cart-nav li.active{color:#F15A0C;border-bottom:1px solid #F15A0C;}

.bdtel{width:100%;height:1rem;line-height:1rem;border-bottom:1px solid #CCC;margin:0 0 .2rem 0;}
.bdtel span{padding:0 0 0 .2rem;}

.canelbutton{width:1.5rem;height:.6rem;margin:0 .15rem 0 0;padding:.15rem .3rem;line-height:.6rem;background:#ffffff;border:1px solid #ccc;border-radius:3px;font-size:.28rem;text-align:center}
.zfbutton{width:1.5rem;height:.6rem;padding:.15rem .3rem;line-height:.6rem;background:#F15A0C;border:1px solid #F15A0C;border-radius:3px;color:#ffffff;font-size:.28rem;text-align:center}

.ndo{width:100%;margin:.2rem auto;background:#fff;}
.ndo span{padding:0 0 0 .2rem;}
.ndo .dealclose{float:right;text-align:right;color:#F15A0C;margin:0 .2rem 0 0}
.ndo .ordernum{display:block;}
.ndo dt{margin:0 0 .2rem 0}
.ndo dd{float:left;padding:0 0 0 .2rem;}

.catbox{width:100%;margin:0 auto;background:#FFF}
.catbox table{text-align:center;width:100%;}
.catbox table th,.catbox table td{border-bottom:1px solid #E5E5E5;}
.catbox table th{background:#e2f2ff;border-top:3px solid #a7cbff;height:30px;}
.catbox table td{padding:5px;color:#444;}
.catbox table tbody tr:hover{background:RGB(238,246,255);}
.catbox .checkbox{width:1%;}
.catbox .goods{width:63%;}
.catbox .goods span{width:69%;text-align:left;float:left;overflow:hidden;text-overflow: ellipsis;}
.catbox .goods img{width:30%;;margin-right:1%;float:left;}
.catbox .price{width:0%;}
.catbox .count{width:35%;margin:0 auto;text-align:center}
.catbox .count .add, .count input, .count .reduce{float:left;margin-right:-1px;position:relative;z-index:0;}
.catbox .count .add, .count .reduce{width:.5rem;height:.3rem;border:1px solid #e5e5e5;background:#f0f0f0;text-align:center;line-height:.3rem;color:#444;padding:.1rem 0;}
.catbox .count .add:hover, .count .reduce:hover{color:#f50;z-index:3;border-color:#f60;cursor:pointer;}
.catbox .count input{width:40%;height:.3rem;border:1px solid #aaa;margin:1px 0 0 0;color:#343434;text-align:center;padding:.1rem 0;background-color:#fff;z-index:2;}
.catbox .subtotal{width:1%;font-size:80%;}
.catbox .operation span:hover,a:hover{cursor:pointer}

.foot_cart{width:100%;margin-top:.5rem;color:#666;height:.8rem;border:0;background-color:#eaeaea;position:fixed;bottom:0;z-index:999;font-size:.28rem}
.foot_cart div, .foot_cart a{height:.4rem;padding:.2rem .1rem;line-height:.4rem;}
.foot_cart .select-all{height:.8rem;line-height:.8rem;padding:0 0 0 .2rem;color:#666;}
.foot_cart .closing{width:1.8rem;text-align:center;color:#ffffff;font-weight:bold;background:#F15A0C;}
.foot_cart .closing a{color:#ffffff;}
.closing input[type=submit]{width:100%;height:.8rem;line-height:.8rem;text-align:center;color:#ffffff;padding:0;background:#F15A0C;cursor:pointer;font-size:.28rem;border:0}

.foot_cart .total{margin:0 .1rem;cursor:pointer;}
.foot_cart  #priceTotal, .foot_cart #selectedTotal{color:red;}
.foot_cart .selected{cursor:pointer;}
.foot_cart .selected:hover .arrow{color:red;}
.foot_cart .selected-view{width:90%;border:1px solid #c8c8c8;position:absolute;height:auto;background:#ffffff;z-index:9;bottom:48px;left:-1px;display:none;}
.show .selected-view{display:block;}
.foot_cart .selected-view div{height:auto;}
.foot_cart .selected-view .arrow{font-size:.2rem;line-height:100%;color:#c8c8c8;position:absolute;right:.2rem;bottom:-.3rem;}
.foot_cart .selected-view .arrow span{color:#ffffff;position:absolute;left:0px;bottom:1px;}

#selectedViewList{padding:.1rem;}
#selectedViewList div{display:inline-block;position:relative;width:1rem;height:1rem;border:1px solid #ccc;margin:.1rem;float:left;}
#selectedViewList div img{width:1rem;height:1rem;margin-right:.1rem;float:left;}
#selectedViewList div span{display:none;color:#ffffff;font-size:.2rem;position:absolute;top:0px;right:0px;width:1rem;height:.3rem;line-height:.3rem;text-align:center;background:#000;cursor:pointer;}
#selectedViewList div:hover span{display:block;}

.account_miss{width:100%;height:auto;padding:.3rem 0;color:#FFF;background:#5F6E8A}
.account_miss img{width:.5rem;float:left;margin:0 .2rem;vertical-align:middle;}
.account_miss span{padding:0 .2rem 0 0}

.account_address{width:100%;height:auto;background:#fff;border-bottom:1px solid #d7d5d5;margin:.2rem 0;}
.account_address img{width:.4rem;float:left;margin:0 .2rem;}
.account_address_name{width:100%;}
.account_address .newadd{width:100%;padding:.2rem 0;display:block;}
.account_address .newadd img{vertical-align:middle;}
.account_address span{float:right;padding-right:.2rem;}
.account_prolist{width:100%;margin:.3rem auto;background:#FFF;}
.ap{border-bottom:1px solid #d7d5d5;height:1rem;line-height:1rem;padding:0 0 0 .2rem;}
.ap img{width:.4rem;vertical-align:middle;margin:0 .2rem 0 0}
.ac_pl{width:95%;margin:.2rem auto;border-bottom:1px solid #E5E5E5}
.miimg{float:left;width:15%;}
.acptit{float:left;width:63%;margin:0 1%;padding:0 1%}
.acptit p{color:#B5B5B5}
.acprice{float:left;width:14%;text-align:right;padding-right:1%;}
.ac_total{width:90%;margin:0 auto;padding-bottom:.4rem;text-align:right}
..ac_total img{width:.4rem;}
.ac_total b{color:#F00}

.ac_yhui{width:100%;padding:.2rem 0;display:block;}
.ac_yhui img{width:.4rem;vertical-align:middle;margin:0 .2rem 0 .2rem;}
.ac_yhui span{float:right;padding-right:.2rem;}

.ac_xufu{width:100%;height:.3rem;margin:.3rem auto;background:#FFF;padding:.3rem 0}
.ac_xufu span{float:right;color:#F15A0C;font-weight:bold;padding:0 .2rem 0 0}
.ac_xufu div{padding:0 .2rem;}

.b_b{border-bottom:1px solid #d7d5d5}

.theme-price{position:relative;bottom:-6px;margin-right:20px;font-weight:bold;color:#f60;line-height:32px;font-size:.28rem;display:inline-block;}
.theme-price dfn{font-style:normal;font-size:.28rem;margin-right:2px;}
.theme-popover-mask{z-index:9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none}
.theme-popover{z-index:9999;position:fixed;bottom:0;width:100%;height:auto;background-color:#fff;display:none;box-shadow:0 0 10px #666;}
.theme-poptit{border-bottom:1px solid #ddd;padding:.2rem;position:relative;}
.theme-popbod{padding:.5rem .2rem;color:#444;}
.theme-poptit .close{float:right;color:#999;padding:.1rem;font:bold .6rem/100% simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover{color:#ff0000;}
.theme-poptit h3{height:auto;font-size:.3rem;line-height:.5rem;font-weight:normal}
.theme-poptit .ttu{float:left;}
.theme-poptit .ttu img{width:1.5rem;margin:0 .3rem 0 0;}
.dform{padding:2%;text-align:left;}
.dform .ipt_error{background-color:#FFFFCC;border-color:#FFCC66}
.dform-tip{display:none;background-color:#080;color:#fff;line-height:42px;margin-top:10px;display:;font-size:14px;}
.dform-tip-errer{background-color:#CF301A;}
.dform-tip a{display:inline-block;padding:0 20px;margin-left:10px;background-color:#FFE924;color:#CF301A;}
.dform-login{padding:0;height:270px;overflow:hidden;}
.dform-login iframe{height:470px;margin-top:-180px;}
.dform .btn{width:100%;height:.7rem;text-align:center;background:#F15A0C; line-height:.7rem;color:#FFFFFF; font-size:.3rem;border-radius:.06rem;margin-bottom:.2rem;border:0}

.container{width:100%;margin:0 auto;position:relative;}
#contact input[type="text"],#contact input[type="email"],#contact input[type="tel"],#contact input[type="url"],#contact textarea,#contact button[type="submit"]{font-size:.2rem;}
#contact{background:#FFF;padding:10px;margin:5px 0;}
#contact h3{color:#F96;display:block;font-size:30px;font-weight:400;}
#contact h4{margin:5px 0 15px;display:block;font-size:13px;}
fieldset{border:medium none !important;margin:0 0 10px;padding:0;width:100%;}
#contact input[type="text"],#contact input[type="email"],#contact input[type="tel"],#contact input[type="url"],#contact textarea{width:96%;border:1px solid #CCC;background:#FFF;margin:0 auto;padding:1%;},
#contact input[type="text"]:hover,#contact input[type="email"]:hover,#contact input[type="tel"]:hover,#contact input[type="url"]:hover,#contact textarea:hover{-webkit-transition:border-color 0.3s ease-in-out;-moz-transition:border-color 0.3s ease-in-out;transition:border-color 0.3s ease-in-out;border:1px solid #AAA;}
#contact textarea{height:.8rem;resize:none;}
#contact button[type="submit"]{cursor:pointer;width:96%;border:none;background:#F15A0C;color:#FFF;margin:0;padding:.3rem 1%;font-size:.28rem;}
#contact button[type="submit"]:hover{background:#F15A0C;-webkit-transition:background 0.3s ease-in-out;-moz-transition:background 0.3s ease-in-out;transition:background-color 0.3s ease-in-out;}
#contact button[type="submit"]:active{box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);}
#contact input:focus,#contact textarea:focus{outline:0;border:1px solid #999;}
#contacttextarea textarea{width:96%;border:1px solid #CCC;background:#FFF;margin:.2rem auto;padding:1%;}
#contacttextarea textarea:hover{-webkit-transition:border-color 0.3s ease-in-out;-moz-transition:border-color 0.3s ease-in-out;transition:border-color 0.3s ease-in-out;border:1px solid #AAA;}
#contacttextarea textarea{height:.8rem;resize:none;}
#contacttextarea textarea:focus{outline:0;border:1px solid #999;}
::-webkit-input-placeholder{color:#888;}
:-moz-placeholder{color:#888;}
::-moz-placeholder{color:#888;}
:-ms-input-placeholder{color:#888;}
#contact select{width:31%;border:1px solid #CCC;background:#FFF;margin:0 auto;padding:1%;}

.fukuan{width:100%;height:.8rem;color:#666;border:1px solid #c8c8c8;background-color:#eaeaea;background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));position:fixed;bottom:0;z-index:999;line-height:.8rem;font-size:.28rem;}
.fukuan span{width:40%;margin:0 0 0 .2rem;text-align:center;display:inline-block}
.fukuan a{width:50%;height:.6rem;margin:0 0 0 5%;padding:.1rem 0;text-align:center;border:1px solid #FFF;background:#F00;background-image:linear-gradient(RGB(212,4,38),RGB(251,3,44));color:#ffffff;border-radius:.1rem;font-size:0.28rem;}
.fukuan input[type="button"]{width:50%;height:.8rem;margin:0 0 0 5%;padding:.1rem 0;text-align:center;border:1px solid #FFF;background:#F15A0C;background-image:linear-gradient(RGB(241,90,12),RGB(250,114,44));color:#ffffff;border-radius:.1rem;font-size:0.28rem;}
.fukuan input[type="submit"]{width:50%;height:.8rem;margin:0 0 0 5%;padding:.1rem 0;text-align:center;border:1px solid #FFF;background:#F15A0C;background-image:linear-gradient(RGB(241,90,12),RGB(250,114,44));color:#ffffff;border-radius:.1rem;font-size:0.28rem;}

#paysuc{margin:0 auto;text-align:center}
#paysuc h2{color:#FF5400;margin:.3rem 0;}
#paysuc img{width:1rem;vertical-align:middle;}
#paymes{max-width:750px;margin:.3rem auto;padding:0 .5rem;line-height:.6rem;}
#paymes a{color:#FF5900}
#paymes .keepshop{width:2rem;height:.8rem;line-height:.8rem;float:left;display:block;border-radius:.1rem;background:#45B418;border:1px solid #42A21C;text-align:center;color:#FFF;}
#paymes .cous{width:2rem;height:.8rem;line-height:.8rem;float:left;margin:0 0 0 .2rem;display:block;border-radius:.1rem;background:#F4F4F4;border:1px solid #C6C6C6;text-align:center;color:#5A5E5D;}


#shopping-cart-button{width:1rem;position:fixed;bottom:.3rem;right:.3rem;z-index:999}
#shopping-cart-button img{width:1rem;}

/*会员中心*/
.m_nav{margin:0 .2rem;text-align:center;}
.m_nav img{width:.5rem;}
.m_nav a{width:20%;text-align:center;float:left;display:block}
.m_nav a span{width:100%;font-size:.28rem;dispaly:block;line-height:.6rem;}

.table_solid{font-size:.28rem;width:98%;margin:0 auto;}
.table_solid{border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;position:relative;margin:10px auto;text-align:center;}
.table_solid th,.table_solid td{border-left:1px solid #CCCCCC;border-top:1px solid #CCCCCC;color:#333333;padding:0.5em;word-wrap:break-word;word-break:break-all;}
.table_solid th{background-color:#DFF9FF;}
